main * {
    box-sizing: border-box;

    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;

    background-color: rgba(57, 55, 53, 0.48);
}

main>div {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

main>div>h1 {
    font-size: 40px;
    font-weight: 200;
    margin-top: 60px;
    color: aliceblue;
    text-shadow: 1px 2px 2px black;
}

main>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main>div>div>div {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #ebebebce;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

main>div>div>div p{
    font-size: 20px;
}

@media(max-width:800px){
    main>div>div{
        flex-direction: column;
    }

    main>div>div>div{
        margin: 0;
        margin-bottom: 10px;
    }

    main>div>div>div {
        width:100%;
    }
}
@media (min-width:1000px){
main{
height:86.5vh;
}
}