main *{
    box-sizing: border-box;
    margin: 0;
}

main{
    display: flex;
    flex-direction: row;
    background-color: rgba(39, 39, 39, 0.495);
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}

main>div{
    background-color: #ebebeb;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    margin: 20px;
    justify-self: center;
}

main div:nth-child(1) img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.productos-totales{
    display: flex;
    flex-direction: column;
}

.productos-totales h1{
    margin: 0 auto;
    margin-top: 10px;
}

.productos-totales>div{
    display: flex;
    flex-direction: column;
    height: 90%;
}

.productos-totales>div section{
    align-self: center;
    width: 95%;
    margin: 10px;
    height: 30%;
}

.productos-totales>div section:nth-child(1){
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 215, 213);
    border-radius: 10px;
    text-align: center;

}
.productos-totales>div section:nth-child(1) h3{
    margin-top: 10px;
}

.productos-totales>div section:nth-child(2){
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 215, 213);
    border-radius: 10px;

    overflow-y: auto;
    overflow-x: hidden;
}

.productos-totales>div section:nth-child(2) div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 10px 10px 10px 10px;
    background-color: #ebebeb;
    padding:4px;
    border-radius: 50px;
    align-self: center;
    align-items: center;
}

.productos-totales>div section:nth-child(2) div p{
    background-color: rgb(255, 255, 255);
    padding: 5px 10px 5px 10px;  
    border-radius: 50px;  
    width: 30%;
    text-align: center;
}

.productos-totales>div section:nth-child(2) div h3{
    margin-left:10px;
}

.productos-totales>div section:nth-child(3){
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 215, 213);
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.productos-totales>div section:nth-child(3) div div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #e3e1e1;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
}

.productos-totales>div>div{
    display: flex;
    flex-direction: row;
    width: 95%;
    align-self: center;
    text-align: end;
    justify-content: space-between;
    background-color: #a9a5a5a6;
    padding: 6px;
    font-size: 17px;
    border-radius: 10px;
    align-items: center;
}

.productos-totales>div>div p{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.704);
    border-radius: 10px;
    padding: 4px;
    color: #e3e1e1;
}

.pago{
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 10px;
    align-items: center;
}

.pago section{
    display: flex;
    flex-direction: row;
}
.pago section div{
    width: 200px;
    margin: 10px;
}

.pago section div input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    
}

.pago button{
    background-color: rgba(0, 0, 0, 0.754);
    color: #ebebeb;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
}

.pago button:hover{
    background-color: rgb(0, 0, 0);
}


@media (max-width:800px){

    main{
        flex-direction: column;
    }

    .pago section{
        flex-direction: column;
    }
    .pago {
        height: auto;
    }

}