main {
    height: 90vh;
    overflow-y: auto;
}

#contenedor-galeria {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    height: 500px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
    align-items: center;
}

#contenedor-galeria>img {
    margin: 10px;
    width: 95%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
}

#contenedor-galeria>div:first-of-type {
    display: flex;
    flex-direction: row;
    color: #ebebeb;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    font-size: 30px;
    height: 20px;
}

#contenedor-galeria>div:first-of-type>button {
    border-radius: 30px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

#contenedor-galeria>div:first-of-type>button:hover{
    background-color: #d9d9d9;
    transform: scale(1.05);
    transition-duration: 0.3s;
}

#contenedor-galeria>div:last-of-type {
    background-color: #ebebee;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    height: 100%;
    overflow: auto;
}

#niidea {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#niidea h1 {
    text-align: center;
}

#resumen p {
    margin: 15px;
}

#selection {
    display: flex;
    align-items: center;
    background-color: #E0E1E6;
    margin: 10px;
    border-radius: 30px;
    height: 10%;
}

#selection img{
    width: 40px;
    margin-right: 10px;

}

.girar{
    animation: girar 0.3s ease-in-out;
    transform: rotate(180deg);
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}

.girar2{
    animation: girar2 0.3s ease-in-out;
    transform: rotate(0deg);
}

@keyframes girar2{
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0deg);
    }
}

#selector {
    height: 100%;
    width: 100%;
    appearance: none;
    border-radius: 10px;
    /* margin-left: 15px; */
    border: none;
    background-color: #E0E1E6;
    text-align: left;
    padding: 15px;
    outline-style: none;
}

#viewitinerario {
    background-color: #E0E1E6;
    margin: 10px;
    height: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#viewitinerario>iframe {
    margin: 10px;
    border: 1px solid black;
    height: 400px;
}

#viewitinerario>button {
    align-self: center;
    color: #ebebee;
    background-color: rgb(46, 46, 46);
    appearance: none;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
}

#viewitinerario>button:hover{
    background-color: rgb(71, 70, 70);
}

#confirm {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#confirm:hover{
    background-color: #cbcbcc;
}

#comentarios {
    color: #ebebee;
    background-color: rgb(0, 0, 0, 0.7);
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

#comentarios-request {
    background-color: rgba(128, 128, 128, 0.297);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: 30px;
    overflow: auto;
}

#view-comentarios {
    background-color: #ebebee;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
    max-height: 200px;
}


#view-comentarios div {
    overflow-y: auto;
    margin-bottom: 10px;
}

#view-comentarios div p {
    margin: 15px;
    margin-top: 5px;
    text-align: justify;
}

#view-comentarios>span {
    margin-top: 10px;
    text-align: left;
    align-self: flex-start;
    max-width: 95%;
    margin-left: 15px;
}

#div-submit {
    width: 100%;
    display: flex;
    justify-content: center;
}
#viewitinerario div {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top:10px;
}
#viewitinerario>div section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    height: 30px;
    border-radius: 5px;
    background-color: #bfbbbb;
    text-align: center;
}
#viewitinerario>div section h3 {
    width: 120px;
    background-color: #000000a8;
    border-radius: 5px 0 0 5px;
    color: #ebebeb;
    padding: 5px;
    margin: 0;
}
#viewitinerario>div section p {
    padding: 5px;
    margin: 0;
}

/*Aqui he puesto 600 por que queda bastante feo */
@media(min-width: 856px) {

    main>div {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
        overflow-y: auto;
    }

    #contenedor-galeria {
        width: 20%;
    }

    #comentarios {
        width: 20%;
    }

    #niidea {
        width: 50%;
        margin-right: 0;
        margin-left: 0;
    }


}